* {
	font-family: Arial, Helvetica, sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #ec7f13 #414141;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #ec7f13;
	border-radius: 0px;
	border-radius: 8px;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

.container {
	z-index: 0;

	position: relative;
	max-width: 60vw;
	margin: 0 auto;
	margin-top: 15vh;
	padding: 1em;

	border: 2px solid #ec7f13;
	background-color: rgb(71, 71, 71);
	filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.homeContent {
	z-index: 1;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0;
}

.leftSide {
	z-index: 2;
	grid-area: 1 / 1 / 2 / 2;

	text-align: center;

	height: 60vh;
	min-width: 15vw;
	max-width: 30vw;
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1.5rem;

	background-color: rgb(65, 65, 65);
}

#logoutButton {
	grid-area: 1 / 1 / 2 / 2;
	background-color: rgb(78, 78, 78);
	place-items: end center;
	align-self: start;

	margin-top: 1vh;
}

.rightSide {
	z-index: 2;
	grid-area: 1 / 2 / 2 / 3;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 16px;

	height: 60vh;
	min-width: 10vw;
	max-width: 30vw;
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1.5rem;
	background-color: rgb(65, 65, 65);
}

.groupOverview {
	z-index: 3;
	grid-area: 1 / 2 / 2 /3;
	overflow: scroll;
	float: right;
	text-align: start;

	padding: 0.5rem;
	max-width: 15vw;

	background-color: rgb(78, 78, 78);
}

.filterOverview {
	z-index: 3;
	grid-area: 1/1/2/2;

	overflow: scroll;
	padding: 0.5rem;
	max-width: 15vw;

	background-color: rgb(78, 78, 78);
}

.groups {
	cursor: pointer;
	line-height: 2rem;
	padding: 5%;
	overflow: scroll;
}

.nextButton {
	z-index: 3;
	grid-area: 2 / 1 / 3 / 3;

	margin: 0 auto;
}
.activeButton {
	background-color: #ffa54c;
}
.activeButton:hover {
	background-color: #d68b40;
}
img.box {
	width: 40px;
	height: 40px;
}

.filter-orange {
	filter: invert(60%) sepia(21%) saturate(5298%) hue-rotate(354deg) brightness(95%) contrast(93%);
}
