/* endre label / container */
.checkboxContainer {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 18px;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: rgb(65, 65, 65);
	border: 1px solid #ec7f13;
}

/* custom checkmark */
.checkboxContainer .checkmark:after {
	left: 6px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid #ec7f13;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* gjemmer browsern sin default checkbox */
.checkboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkboxContainer input[disabled] ~ .checkmark {
	cursor: not-allowed;
}
/* mouseover på checkboxen */
.checkboxContainer:hover input ~ .checkmark {
	background-color: rgb(126, 126, 126);
}

.checkboxContainer input[disabled] ~ .checkmark {
	background-color: rgba(255, 0, 0, 0.226);
}
/* Gjemme checkmark når den ikke er checked */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Vise checkmark når den er checked */
.checkboxContainer input:checked ~ .checkmark:after {
	display: block;
}
