.groupMembersOverview {
	padding-top: 1rem;
	padding-left: 1.5rem;
	color: white;
	font-size: 18px;
	width: 100%;
	text-align: start;
}

.groupList {
	width: 100%;
	text-align: start;
	color: white;
	font-size: 18px;
	padding-top: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.css-input {
	padding: 5px;
	font-size: 16px;
	border-width: 1px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
	text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);

	border-color: #ec7f13;
	background-color: #414141;
	color: #ec7f13;
	border-style: solid;
}
.css-input:focus {
	outline: 2px solid #ec7f13;
}
