.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	width: 15vw;
	margin: 0 auto;
	min-height: 200px;
	margin-top: 5vh;
	padding-bottom: 5vh;

	border: 2px solid #ec7f13;
	background-color: rgb(71, 71, 71);
	filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

input.loginInput {
	font-size: large;
	border: 2px double black;
	min-width: none;
}
